{
  "doubleQuote": true,
  "trailingComma": "all",
  "tabWidth": 4,
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "tadWidth": 2,
        "printWidth": 40,
        "doubleQuote": true
      }
    }
  ]
}
