
.navbar {
    background-color: var(--mantine-color-dark-8) !important;
    border-bottom: 1px solid var(--mantine-color-dark-5) !important;
}

.container {
    margin-top: 70px;
    padding: 40px !important;
}
